si
.deps
*.o
autoscan.log
.vscode
autom4te.cache/*
core
*/Makefile.in
Makefile.in
aclocal.m4
compile
config.h.in
config.h.in~
depcomp
missing

Makefile
*/Makefile
config.h
config.log
config.status
stamp-h1

CMakeCache.txt
*/CMakeCache.txt

CMakeFiles
*/CMakeFiles
handler/CMakeFiles/*
network/CMakeFiles/*

*/cmake_install.cmake
cmake_install.cmake

lib/
bin/