*.md linguist-language=C++ 
*.yml linguist-language=C++ 
*.html linguist-language=C++ 
*.js linguist-language=C++ 
*.xml linguist-language=C++
*.css linguist-language=C++ 
*.sql linguist-language=C++
*.uml linguist-language=C++ 
*.cmd linguist-language=C++ 
